{
    "api_id": 2944318,
    "api_hash": "e9746721493a910d201d898b4329da8f",
    "referral_code": "f5081135987_s578244",
    "colors": [
"#e46e6e",
"#FFD635", 
"#7EED56", 
"#00CCC0", 
"#51E9F4", 
"#94B3FF", 
"#E4ABFF",
"#FF99AA", 
"#FFB470", 
"#FFFFFF", 
"#BE0039", 
"#FF9600", 
"#00CC78", 
"#009EAA",
"#3690EA", 
"#6A5CFF", 
"#B44AC0", 
"#FF3881", 
"#9C6926", 
"#898D90", 
"#6D001A",
"#bf4300", 
"#00A368", 
"#00756F", 
"#2450A4", 
"#493AC1", 
"#811E9F", 
"#a00357",
"#6D482F", 
"#000000"
    ],
    "auto_upgrade": {
        "energyLimit": false,
        "paintReward": false,
        "reChargeSpeed": false
    },
    "countdown": 280,
    "time_before_start": [
        10,
        190
    ]
}
